<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flow Layout</title>
  <style type="text/css">
    /* inline element to block element  */
    /* a {
      display: block;
    } */
    a {
      background: pink;
    }
    li {
      display: inline-block;
    }
  </style>
</head>

<body>
  <!-- <a href="">inline anchor1</a>
  <a href="">inline anchor2</a>
  <a href="">inline anchor3</a> -->

  <!-- There is a distance between the two inline-display element -->
  <!-- <a href="">百度</a>
  <a href="">慕课网</a> -->
  
  <!-- So we'd better use block-inline element to embed the inline-display
   element in order to solved the distance problem -->
  <ul>
    <li><a href="">百度</a></li>
    <li><a href="">慕课网</a></li>
  </ul>



</body>

</html>